@import "../node_modules/codemirror/lib/codemirror.css";
@import "../node_modules/codemirror/theme/material.css";

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #354f5d;
  color: white;
}

table {
  border-collapse: collapse;
}

table,
th {
  text-align: center;
  border: 1px solid #30434d;
}

td {
  text-align: center;
  border: 1px solid #30434d;
  font-family: monospace;
}
tr:hover {
  background: rgba(211, 211, 211, 0.13);
}

button,
.button {
  background: #dacc12;
  border: none;
  cursor: pointer;
  border-radius: 28px;
  padding: 5px;
  margin: 4px 0px 4px 0px;
  text-decoration: none;
  text-align: center;
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.781);
}

button::-moz-focus-inner {
  border: 0;
}

a:visited {
  color: initial;
}

.Resizer {
  background: #000;
  opacity: 0.2;
  z-index: 1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
}

.Resizer:hover {
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

.Resizer.horizontal {
  height: 11px;
  margin: -5px 0;
  border-top: 5px solid rgba(255, 255, 255, 0);
  border-bottom: 5px solid rgba(255, 255, 255, 0);
  cursor: row-resize;
  width: 100%;
}

.Resizer.horizontal:hover {
  border-top: 5px solid rgba(0, 0, 0, 0.5);
  border-bottom: 5px solid rgba(0, 0, 0, 0.5);
}

.Resizer.vertical {
  width: 11px;
  margin: 0 -5px;
  border-left: 5px solid rgba(255, 255, 255, 0);
  border-right: 5px solid rgba(255, 255, 255, 0);
  cursor: col-resize;
}

.Resizer.vertical:hover {
  border-left: 5px solid rgba(0, 0, 0, 0.5);
  border-right: 5px solid rgba(0, 0, 0, 0.5);
}
.Resizer.disabled {
  cursor: not-allowed;
}
.Resizer.disabled:hover {
  border-color: transparent;
}

.Collapsible {
  background: #2a3c46;
  cursor: pointer;
}

.Collapsible__trigger {
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#historyDiv .Collapsible__contentOuter {
  max-height: 200px;
}

.history-div:hover {
  background: rgba(211, 211, 211, 0.13);
}

.question-div:hover {
  background: rgba(211, 211, 211, 0.13);
}

.question-div.active,
.question-div:hover.active {
  background: rgba(240, 237, 237, 0.493);
  color: rgba(0, 0, 0, 0.781);
}

.control-div {
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.control-div:hover {
  background: rgba(211, 211, 211, 0.13) !important;
}

.admin-sidebar {
}
.admin-sidebar a {
  padding: 8px;
  margin: 10px;
  display: flex;
  justify-content: center;
  background-color: #30434d;
  color: white;
  text-decoration: none;
}

.admin-sidebar a.active {
  background: #475f6c;
}

.input {
  display: block;
}

.input input {
  padding: 8px;
}

.input + .input {
  margin-top: 16px;
}

.CodeMirror {
  font-size: 18px;
}
